body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
  color: #333;
}

.search-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: #03d62a;
}

a.button {
  margin-left: 85%;
  display: inline-block;
  background-color: #0362d6;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  transition: background-color 0.3s ease;

}

a.button:hover {
  background-color: #1800a0;
}

/* Search page styles */
#search-input {
  width: 70%;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#search-button {
  display: block;
  width: 30%;
  padding: 10px;
  font-size: 16px;
  text-align: center;
  background-color: #0366d6;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: auto;
  margin-right: auto;
}

#search-button:hover {
  background-color: #004ba0;
}

#search-word-card-container {
  margin-top: 20px;
}

.word-card {
  background-color: #fff;
  border-radius: 6px;
  padding: 20px;
  margin-bottom: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
}

.word-card h2 {
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 10px;
  color: #0366d6;
}

.word-card p {
  margin: 0;
  line-height: 1.5;
}

.delete-button {
  background-color: #e45735;
  color: #fff;
  border: none;
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: absolute;
  top: 20px;
  right: 20px;
}

.delete-button:hover {
  background-color: #c23b24;
}


/* History page styles */
#history-container {
  margin-top: 20px;
}

.history-card {
  background-color: #fff;
  border-radius: 6px;
  padding: 20px;
  margin-bottom: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.history-card h2 {
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 10px;
  color: #0366d6;
}

.history-card p {
  margin: 0;
  line-height: 1.5;
}



.message {
  text-align: center;
  font-size: larger;
  font-weight: 600;
}

/* Responsive styles */
@media (max-width: 600px) {
  h1 {
    font-size: 28px;
  }

  #search-input {
    width: 90%;
  }

  #search-button {
    width: 90%;
  }

  .word-card,
  .history-card {
    padding: 15px;
  }

  a.button {
    margin-left: 50%;
  }
}